*{
    margin: 0px;
    padding: 0px;
    font-family: "Paytone One", sans-serif;
}

ul{
    float: right;
    margin-top: 45px;
    margin-right: 50px;
    min-height: 30px;
    font-size: x-large;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(116, 11, 116);
    padding: 20px;
    border-radius: 20px;
}

ul li a:hover{
    background-color: rgb(107, 74, 107);
    color: rgb(255, 255, 255);
}

.myportfolio h1{
    float: left;
    font-size: 75px;
    margin-left: 50px;
    margin-top: 10px;
    color: rgb(59, 3, 59);
}

.introduce{
    text-align: center;
    padding: 50px 0;
}

.introduce img{
    width: 80%;
    max-width: 350px;
    position: relative;
    border-radius: 20px;
}

.introduce p{
    font-size: 30px;
    margin-top: 10px;
    color: rgb(59, 3, 59);
}

body{
    background-color: rgb(249, 222, 252);
    display: flex;
    flex-direction: column;
}

.me{
    text-align: center;
    margin: 5px;
}
.me pre{
    font-size: 25px;
    color: rgb(102, 5, 102);
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    white-space: pre-wrap;

}

.skill{
    text-align: center;
    margin: 20px;
}
.skill h3{
    font-size: 28px;
    color: rgb(59, 3, 59);
    text-align: center;
}

.skill pre{
    margin: 40px;
    font-size: 25px;
    color: rgb(102, 5, 102);
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    white-space: pre-wrap;
}

.example1{
    margin: 20px;
    text-align: center;
}

.example1 img{
    width: 80%;
    max-width: 550px;
    position: relative;
    border-radius: 10px;
}

.example2{
    margin: 20px;
    text-align: center;
}

.example2 img{
    width: 80%;
    max-width: 550px;
    position: relative;
    border-radius: 10px;
}

.example3{
    margin: 20px;
    text-align: center;
}

.example3 img{
    width: 80%;
    max-width: 550px;
    position: relative;
    border-radius: 10px;
}

.mail{
    text-align: center;
    margin: 5px;
}

.mail ul{
    font-size: 25px;
    color: rgb(102, 5, 102);
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    white-space: pre-wrap;
}

.mail ul li{
    display: inline-block;
}

.mail ul li a{
    text-decoration: none;
    color: rgb(116, 11, 116);
    padding: 20px;
    border-radius: 20px;
}

.insta{
    text-align: center;
    margin: 30px;
}

.insta ul{
    font-size: 25px;
    color: rgb(102, 5, 102);
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    white-space: pre-wrap;
}

.insta ul li{
    display: inline-block;
}

.insta ul li a{
    text-decoration: none;
    color: rgb(116, 11, 116);
    padding: 20px;
    border-radius: 20px;
}

.tel{
    text-align: center;
    margin: 5px;
}

.tel p{
    font-size: 25px;
    color: rgb(102, 5, 102);
}

.adirek{
    margin: 20px;
    text-align: center;
}

.adirek p{
    margin: 40px;
    font-size: 25px;
    color: rgb(102, 5, 102);
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    white-space: pre-wrap;
}

.adirek img{
    width: 80%;
    max-width: 550px;
    position: relative;
    border-radius: 10px;
}

.more{
    margin: 20px;
    text-align: center;
}

.more p{
    margin: 40px;
    font-size: 25px;
    color: rgb(102, 5, 102);
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    white-space: pre-wrap;
}

.more img{
    width: 80%;
    max-width: 550px;
    position: relative;
    border-radius: 10px;
}